<div class="side-modal-wrapper">
	<div class="vertical-align">
		<div class="table-cell">
			<div class="pdd-horizon-15">
				<h4>Sign Up</h4>
				<p class="mrg-btm-15 font-size-13">Please enter your email and password to create account</p>
				<form>
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Email Adress">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password">
					</div>
					<div class="checkbox font-size-12">
						<input id="agreement" name="agreement" type="checkbox">
						<label for="agreement">I agree with the <a href="">Privacy & Policy</a></label>
					</div>
					<button class="btn btn-info btn-sm">Sign Up</button>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<span>Already have an account? <a href="">Login Now</a></span>
	</div>
</div>

