<div class="modal-body height-100">
	<div class="vertical-align text-center">
		<div class="table-cell">
			<div class="container">
				<div class="row">
					<div class="col-md-4 mr-auto ml-auto">
						<div class="pdd-horizon-30 pdd-btm-50">
							<img class="img-responsive mrg-horizon-auto" src="assets/images/others/mailing.png" alt="">
							<h4 class="mrg-top-20">We'ill launch soon!</h4>
							<p class="mrg-btm-15">Subscribe us</p>
							<form class="ng-pristine ng-valid">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">@</span>
										<input type="email" class="form-control" placeholder="Email Adress">
									</div>
								</div>
								<button class="btn btn-info btn-block text-bold text-uppercase">Sign Up</button>
							</form>
							<small>No worries, we won't spam</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="modal-close" href="" ng-click="cancel()">
		<i class="ti-close"></i>
	</a>
</div>

